label {
  background: #F44242;
  color: #FFFFFF;
  padding: 10px;
  display: block;
  margin: 0;
  border: 1px solid #fff;
}

input[type="checkbox"].on-off{
  display: none;
}

.menu {
  margin: 0 0 0 0px;
}

.menu ul {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 20px 0 20px;
  padding: 0;
  list-style: none;
}

.menu li {
  padding: 5px;
}

input[type="checkbox"].on-off + ul{
  height: 0;
  overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
  height: 200px;
}
