
.float-right {
  float: right;
  margin: 90px;
}

.main-section {
  display: flex;
  justify-content: center;
}

.sidebar {
  float: right;
}

header {
  background-color: #F44242;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* border: 1px solid; */
}

footer {
  background-color: gray;
}
h1 {
  color: white;
}
