/* You can add global styles to this file, and also import other style files */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  color: #FFFFFF;
  background-color: #F44242;
  padding: 30px;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

pre {
  background-color: #E8FCFF;
}
